.container__accountpage--infomation--none{
    position: absolute;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    right: 30%;
}

.container__accountpage--infomation--none i {
    font-size: 10rem;
    color: var(--primary--text-hover);
}

.container__accountpage--infomation--none p{
    font-size: 20px;
    font-weight: 600;
}