.container__detail nav.breakcrum{
    background-color: transparent;
    z-index: 1;
    padding-bottom: 0;
}

.container__detail nav.breakcrum li a{
    color: #000;
    font-weight: 600;
}

.container__detail--item{
    display: flex;
    padding: 1rem 0 1rem 0;
    justify-content: space-between;
}

img.item__child--small{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid var(--primary--icon-color);
    display: block;
    margin: 10px 0;
}

.detail__item--child:not(:last-child){
    padding-right: 3rem;
}

img.item__child--large{
    height: auto;
    width: 100%;
}

ul.item__size--select li.active{
    color: #fff;
    background-color: var(--primary--icon-color);
    border: none;
}

h2.detail__item--title{
    font-weight: bold;
    font-size: 28px;
}

h2.detail__item--cost{
    font-weight: bold;
    font-size: 28px;
    color: var(--primary--icon-color);
}

.detail__item--size{
    padding: 20px 0;
}

.detail__item--size p{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
ul.item__size--select{
    padding: 0;
    margin: 0;
    display: flex;
}

li.item__size--select{
    border: 1px solid #e2e0e0;
    margin: 10px 5px;
    padding: 5px 20px;
    border-radius: 3px;
    color: var(--primary--text-color);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.detail__item--amount{
    display: flex;
}

.detail__item--amount{
    padding: 20px 0;
}
.detail__item--amount p{
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding-right: 15px;
    line-height: 40px;
}

.detail__item--amount input{
    /* padding: 0px 40px; */
    width: 200px;
    padding: 0 10px;
    height: 40px;
    background-color: #fff;
    border: 2px solid #e2e0e0;
    border-radius: 5px;
    text-align: center;

}

input[type='submit']{
    padding: 10px 30%;
    margin-top: 5rem;
    background-color: var(--primary--icon-color);
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
}


.container__description--product p {
    font-size: 15px;
    color: #454343
}

h3{
    font-weight: bolder;
    font-size: 20px;
    padding-bottom: 0.5rem;
}

.container__description--relate--product{
    display: flex;
    flex-wrap: wrap;
    word-wrap: 4;
}

.description--relate--product--item:not(:last-child){
    padding-right: 15px;
}

.description--relate--product--item img{
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 8px 5px #ebe8e8;
    border-radius: 10px;
}

.description--relate--product--item p{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    margin: 0;
}
.description--relate--product--item span{
    color: var(--primary--text-color)
}

.detail__item--child button{
    /* margin: 2rem 50%; */
    margin: 3rem auto;
    height: 40px;
    width: 200px;
    background-color: var(--primary--icon-color);
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border-radius: 6px;
}


@media screen and (max-width:992px){
    .container__detail--item{
        display: block;
    }

    .detail__item--child:not(:last-child){
        padding-right: 0;
    }
}

.container__description{
    padding-bottom: 2rem;
}

.detail__item--descript p{
    font-size: 20px;
    color: #2b2828;
    font-weight: 600;
}