

.signup{
   padding: 2rem 20%;
}
.login{
   padding: 2rem 25%;
}

.container__signup{
    border: 2px solid #d5d5d5;
    border-radius: 5px;
    
}

.container__signup--header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.container__signup--header img{
    padding-right: 1rem;
}

.container__signup--header h4{
    font-weight: 600;
}

.container__signup--contain form{
    padding: 0 30px 30px 30px;
    position: relative;
}

.form-control {
	border: none;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: var(--primary--text-hover);
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.submit{
    padding: 0 20%;
}
.loginsubmit{
    padding: 0 15px;
}

.container__signup--contain form button.signupForm{
    height: 40px;
    margin: 2rem 0;
    text-align: center;
    /* align-items: center; */
    width: 100%;
    background-color: var(--primary--text-hover);
    max-width: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}

.loginFrom{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.loginForm--duytri label{
    padding-left: 10px;
    padding-bottom: -5px;
    margin: 0;
    font-weight: 600;
}

.container__signup--contain span{
    text-align: center;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    /* padding-left: 27%; */
    margin: 0;
    padding: 0 0 1rem 27%;
}

span a{
    padding: 0 0 1rem 0;
    margin: 0;
}

.container__signup--contain form button.loginForm{
    height: 40px;
    margin: 1rem 0;
    text-align: center;
    /* align-items: center; */
    width: 100%;
    background-color: var(--primary--text-hover);
    max-width: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}