.container__type{
    height: auto;
    padding: 2rem 0 2rem 3%;
}

h1.container__item{
    color: var(--primary--text-hover);
    padding-bottom: 1rem;
}

ul.container__item{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

li.container__item a{
    padding: 8px 20px;
    border: 1px solid var(--primary--text-hover);
    border-radius: 5px;
    background-color: var(--primary--text-hover);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

li.container__item form input[type = text]{
    border: 2px solid #d5d5d5;
    padding: 8px;
    width: 20rem;
    /* margin-right: -2px; */
    /* border-radius: 5px; */
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
li.container__item form input[type = submit]{
    border: 1px solid var(--primary--text-hover);
    background-color: var(--primary--text-hover);
    padding: 9px 15px;
    color: #fff;
    font-weight: 600;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

table.product{
    border: 1px solid #d5d5d5;
    width: 100%;
    height: auto;
}

table.product tr th{
    border: 1px solid #d5d5dd;
    padding: 10px;
    text-align: center;
    position: relative;
    background-color: var(--background--color-pink);
}

table.staff tr td{
    border: 1px solid #d5d5d5;
    text-align: center;
    background-color: var(--background--color-pink);
    padding: 20px 0;
}

table.staff tr td p{
    padding: 0;
    margin: 0;
}

table.product tr td:first-child{
    max-width: 5%;
    width: 5%;
}
table.product tr td:nth-child(2), table.product tr td:nth-child(4){
    max-width: 10%;
    width: 10%;
}
table.product tr td:nth-child(3){
    max-width: 20%;
    width: 20%;
}

table.product tr td:nth-child(5){
    max-width: 10%;
    width: 10%;
}

table.product tr td:nth-child(6){
    max-width: 45%;
    width: 45%;
}
table.product tr td:nth-child(6) p{
    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
     overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.6rem;
}

table.product tr td img{
    width: 100%;
}

table.product tr td p{
    font-size: 15px;
    font-weight: 600;
    color: var(--primary--text-color);
}

table.staff tr td a.update__item{
    text-decoration: none;
    padding: 8px 3rem;
    border-radius: 1px solid var(--primary--text-hover);
    background-color: var(--primary--text-hover);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin: 0 10px;
}
table.staff tr td a.delete__item{
    text-decoration: none;
    padding: 8px 3rem;
    border-radius: 1px solid var(--primary--text-hover);
    background-color: rgb(240, 72, 72);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin: 0 10px;
}


/* ADD PRODUCT */

.container__add{
    padding: 3rem 15%;
}

.container__addcontains{
    padding: 2rem 7%;
    background-color: var(--background--color-pink);
}

.container__addcontains h1{
    text-align: center;
    color: var(--primary--text-hover);
    font-size: 30px;
    font-weight: 600;
}

.container__addcontains p{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    padding: 10px 0;
    margin: 0;
}

.container__addcontains input[type = text], 
.container__addcontains input[type = number],
.container__addcontains select{
    margin: 0;
    border: 2px solid #d5d5d5;
    width: 100%;
    height: 40px;
    padding-left: 20px;
}

.container__addcontains button{
    text-align: center;
    margin: 2rem 31% 0 31%;
    height: 45px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 300px;
    background-color: var(--primary--text-hover);
}

/* onSubmit={handleSubmit} */

ul.container__add--items{
    padding: 0;
    display: flex;
    justify-content: space-between;
}
li.container__add--items{
    width: 48%;
}

li.container__add--items input[type = date] {
    margin: 0;
    border: 2px solid #d5d5d5;
    width: 100%;
    height: 40px;
    padding-left: 20px;
}

/* pagination */

ul.MuiPagination-ul{
    padding: 0 35%;
}

/* .Mui-selected {
    background-color: var(--primary--text-hover);
} */