@import "react-slideshow-image/dist/styles.css";


.each-slide {
    display: flex;
}

.each-slide--prev{
    z-index: 1000;
    position: absolute;
    left: 5%;
    top: 45%;
    font-size: 20px;
    color: #000;
    font-weight: 500;
}
.each-slide--next{
    z-index: 1000;
    position: absolute;
    right: 5%;
    top: 45%;
    font-size: 20px;
    color: #000;
    font-weight: 500;
}

.container__slide--show{
    position: absolute;
    height: 100%;
    width: 100%;
}
.each-slide img {
    width: 100%;
    height: 100%;
}



/* Home Container */

section#container__home {
    height: auto;
    max-width: 100%;
    padding: 2rem 0;
}

.container__home{
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    word-wrap: 4;
    /* word-break: break-all; */
}

a.container__home--item img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

ul.container__home {
    display: flex;
    height: 100%;
    width: 100%;
}

a.home__item--container:not(:first-child), a.container__home--item:not(:nth-child(2)){
    padding: 10px 0;
}


a.home__item--container img{
    height: 65%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(204, 202, 202, 0.6);
}

a.home__item--container{
    position: relative;
}

ul.home__item--icon{
    position: absolute;
    top: 10%;
    right: 5%;
    display: none;
    transition: var(--transition);
}

a.home__item--container:hover ul.home__item--icon{
    display: block;
}

li.home__item--icon i{
    padding: 5px 10px 10px 10px;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    background-color: transparent;
    color: #fa9842;
    transition: var(--transition);
}

li.home__item--icon i:hover{
    border: 1px solid #fa9842;
    background-color: #fa9842;
    color: #fff;
}

a.container__home--item li ,a.home__item--container li{
    padding-right: 30px !important;
}

h5.home__item--name{
    font-size: 17px;
    color: #000;
    padding: 15px 0 0 0 ;
    font-weight: 600;
    margin: 0;
}

h5.home__item--name:hover {
    color: var(--primary--text-hover);
    transition: var(--transition);
}

span.home__item--cost{
    color: var(--primary--text-color);
    padding: -10px 0 0 0;
    margin-top: -10px;
    font-size: 18px;
    font-weight: 500;
}

.container__home-slider{
    position: relative;
    height: auto;
    width: 100%;
}

.container__home-slider img {
    width: 100%;
}

/* Home Container */



/*Start Cloud Fee Custom */
section.cloudfee{
    background-image: url('../../images/backgroundcloudfee.png');
    height: auto;
    width: 100%;
    padding-top: 30px;
}

.container__cloudfee--title h1{
    color: #7D5230;
    font-size: 60px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1;
    margin-bottom: 8px;
}

.container__cloudfee--title p{
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
}

.container__cloudfeelayout{
    padding-bottom: 30px;
}

ul.container__cloudfeelayout{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    word-wrap: 2;
    justify-content: space-around;
}

li.container__cloudfeelayout img{
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
}

li.container__cloudfee:nth-child(2), li.container__cloudfee:nth-child(3){
    padding-top: 15% ;
}

li.container__cloudfee p.container__cloudfee--title{
    color: #7D5230;
    font-size: 35px;
    font-weight: bolder;
    /* font-family: 'Dancing Script'; */
    line-height: 1;
    margin-bottom: 8px;
}

h2.container__cloudfee--name {
    color: #7D5230;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1;
    margin-bottom: 8px;
}

p.container__cloudfee--descript{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
}

a.container__cloudfee--button{
    padding: 10px 20%;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--primary--icon-color);
}

a.container__cloudfee--button:hover {
    color: #fff;
}
/*End Cloud Fee Custom */

/* Start Home Slide  */
section#slidehome{
    height: auto;
    width: 100%;
    background-color: #fff;
    /* padding-left: 7%; */
    padding: 5rem 0 5rem 2%;
}

ul.container__slidehome {
    display: block;
}

.slidehome__item--child1{
    display: block;
    align-items: center;
    margin: 0 auto;
    padding: 10% 8rem 0 0 ;
    margin: 0 auto;
}
/* .slidehome__item--child2, .slidehome__item--child3{
    display: none;
} */


.slidehome__item {
    display: flex;
}

a.slidehome__item-child h3{
    color: #000;
    word-wrap: break-word;
    word-break: normal;
    font-size: 30px;
    font-weight: 600;
}

a.slidehome__item-child p{
    font-size: 17px;
    font-weight: 400;
    color: rgb(29, 29, 29);
}

a.slidehome__item-child button{
    padding: 3% 30%;
    border: 1px solid var(--primary--icon-color);
    background-color: var(--primary--icon-color);
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s all ease-in;
}

a.slidehome__item-child button:hover{
    background-color: transparent;
    color: var(--primary--icon-color);
}

ul.slidehome__item--child1{
    /* display: flex; */
    overflow: hidden;
    padding: 0;
    margin: 0;
    /* width: 100%; */
    position: relative;
    height: 550px;
}

a.slidehome__item--img img{
    position: absolute;
    height: 100%;
    /*  width: 100%; */
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

a.slidehome__item--img li{
    /* position: absolute; */
    border-radius: 20px;
    width: 100%;
}


.container__slidehome{
    display: flex;
    overflow: hidden;
}

/* End Home Slide  */

/* Start Home Story */
section#homestory{
    height: auto;
    width: 100%;
    background-color: var(--background--color-pink);
    padding: 30px 0 5rem 0;
}

.home__story--top{
    display: flex;
    height: 50px;
    margin: 0 auto;
    justify-content: center;
}

.home__story--top img {
    height: 25px;
    width: 20px;
    margin-top: 10px;
}

.home__story--top p{
    font-size: 28px;
    font-weight: bolder;
    padding-left: 5px;
    font-family: 'Montserrat', sans-serif;
}
.home__story--coffeeholic{
    padding: 20px 0;
}

.home__story--coffeeholic h5{
    color: #000;
    font-size: 30px;
    font-weight: 550;   
    border-left: 5px solid var(--primary--icon-color);
    padding-left: 10px;
}

ul.home__story--coffeeholic{
    display: flex;
    flex-wrap: wrap;
    word-wrap: 3;
    padding: 0;
    margin: 0;
}


/* li.home__story--coffeeholic:not(:last-child) {
    padding-right: 20px;
} */

li.home__story--coffeeholic .home__story--img {
    width: 100%;
    height: 220px;
    position: relative;
    border-radius: 10px;
    /* object-fit: fill; */
    overflow: hidden;
    object-fit: cover;
    padding-bottom: 10px;
}

.home__story--img img {
    height: 100%;
    width: 100%;
    /* background-size: contain; */
    border-radius: 15px;
    object-fit: fill;
    transition: var(--transition);
}

.home__story--img img:hover {
    transform: scale(1.1);
}

li.home__story--coffeeholic span{
    font-size: 18px;
    padding: 10px 0;
    color: var(--primary--text-color);
}

li.home__story--coffeeholic h6{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 0 0 0;
}

li.home__story--coffeeholic p{
    padding: 0 !important;
    margin: 0 !important;
    white-space: wrap;
    word-wrap: break-word;
    word-wrap: var(3);
    -webkit-line-clamp: 3;
}
/* End Home Story */







/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    

}

/* MEDIA QUERIES FOR DESKTOP */

@media screen and (min-width: 992px){
    li.container__cloudfeelayout img {
        height: 100%;
        width: 100%;
    }

    .slidehome__item--child1{
        display: block;
        align-items: center;
        margin: 0 auto;
        padding: 5% 3rem 0 0 ;
        margin: 0 auto;
    }

    ul.slidehome__item--child1{
        /* display: flex; */
        overflow: hidden;
        padding-left: 3%;
        margin: 0;
        position: relative;
        height: 450px;
    }

    section#slidehome{
        height: auto;
        width: 100%;
        background-color: #fff;
        /* padding-left: 7%; */
        padding: 5rem 0 5rem 0;
    }


}

/* MEDIA QUERIES FOR TABLET */

@media screen and (min-width: 768px) and (max-width: 991px) {
    li.container__cloudfeelayout img {
        height: 100%;
        width: 100%;
    }

    li.container__cloudfeelayout:first-child, li.container__cloudfeelayout:last-child{
        padding: 20px;
    }

    li.home__item--icon i{
        padding: 5px 10px 10px 10px;
        font-size: 18px;
        border-radius: 50%;
        border: 1px solid #d9d9d9;
        background-color: transparent;
        color: #fa9842;
        transition: var(--transition);
    }
} 


@media screen and (min-width: 767px) and (max-width: 860px) {
    ul.slidehome__item--child1{
        /* display: flex; */
        overflow: hidden;
        padding: 0;
        margin: 0;
        position: relative;
        height: 500px;
    }

    section#slidehome{
        height: auto;
        width: 100%;
        background-color: #fff;
        /* padding-left: 7%; */
        padding: 5rem 0 5rem 0;
    }

    .slidehome__item--child1{
        display: block;
        align-items: center;
        margin: 0 auto;
        padding: 10% 3rem 0 2rem ;
        margin: 0 auto;
    }

}

/* MEDIA QUERIES FOR TABLET AND MOBILE LARGE */
@media screen and (min-width: 600px) and (max-width: 767px) {
    li.container__cloudfeelayout img {
        height: 100%;
        width: 100%;
    }

    ul.container__cloudfeelayout {
        display: block;
    }

    li.container__cloudfee:nth-child(2){
        padding-top: 0 ;
    }
    a.container__cloudfee--button{
        padding: 10px 43% 10px 43%;
    }

    li.container__cloudfeelayout:first-child, li.container__cloudfeelayout:last-child{
        padding: 20px;
    }
    
    li.home__item--icon i{
        padding: 5px 10px 10px 10px;
        font-size: 18px;
        border-radius: 50%;
        border: 1px solid #d9d9d9;
        background-color: transparent;
        color: #fa9842;
        transition: var(--transition);
    }

    .slidehome__item {
        display: flex;
        flex-wrap: wrap;
        word-wrap: 1;
        flex-direction: column-reverse;
    }

    a.slidehome__item-child button{
        width: 100%;
        padding: 5px 0;
        text-align: center;
        border: 1px solid var(--primary--icon-color);
        background-color: var(--primary--icon-color);
        border-radius: 10px;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        transition: 0.5s all ease-in;
    }

    ul.slidehome__item--child1{
        padding: 0 3% 0 0 ;
    }

    .slidehome__item--child1{
        padding: 30px 10px;
    }
}

/* MEDIA QUERIES FOR MOBILE */

@media screen and (max-width: 600px){
    li.container__cloudfeelayout img {
        height: 100%;
        width: 100%;
    }

    ul.container__cloudfeelayout {
        display: block;
    }

    li.container__cloudfee:nth-child(2){
        padding-top: 0 ;
    }
    a.container__cloudfee--button{
        padding: 10px 35% 10px 35%;
    }

    li.container__cloudfeelayout:first-child, li.container__cloudfeelayout:last-child{
        padding: 20px;
    }

    li.home__item--icon i{
        padding: 5px 10px 10px 10px;
        font-size: 15px;
        border-radius: 50%;
        border: 1px solid #d9d9d9;
        background-color: transparent;
        color: #fa9842;
        transition: var(--transition);
    }
    .slidehome__item {
        display: flex;
        flex-wrap: wrap;
        word-wrap: 1;
        flex-direction: column-reverse;
    }

    a.slidehome__item-child button{
        width: 100%;
        padding: 5px 0;
        text-align: center;
        border: 1px solid var(--primary--icon-color);
        background-color: var(--primary--icon-color);
        border-radius: 10px;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        transition: 0.5s all ease-in;
    }

    ul.slidehome__item--child1{
        padding: 0 3% 0 0 ;
    }

    .slidehome__item--child1{
        padding: 20px 10px 0 10px;
    }

    a.slidehome__item--img{
        height: 400px;
    }
}
