.container__storychild{
    width: 100%;
    height: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    word-wrap: 4;
}

ul.container__storychild--item{
    height: 100%;
}

li.container__storychild--img img{
    height: 220px;
    width: 100%;
    border-radius: 10px;
}

li.container__storychild--title a{
    color: #000;
    font-size: 17px;
    font-weight: 600;
    display: -webkit-box;
    max-height: 60px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    margin: 0;
}

li.container__storychild--title span{
    color: var(--primary--text-color);
}
li.container__storychild--title p{
    display: -webkit-box;
    max-height: 50px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    padding:  0;
    margin: 0;
}
