.container__accountdropdown{
    position: absolute;
    background-color:var(--background--color-pink);
    right: 11%;
    width: auto
}

.account--item{
    height: 40px;
    line-height: 40px;
    width: 210px;
    color: #fff;
    background-color: var(--primary--text-hover);
    margin: 12px 15px;
    right: 8%;
    text-align: center;
    top: 0%;
    display: flex;
    /* position: absolute; */
}

.account--item i{
    font-size: 25px;
    color: #fff;
    padding: 0px 10px 0px 15px;
    align-items: center;
}

.account--item p{
    font-size: 15px;
    color: #fff;
    padding: 0;
    margin: 0;
    padding: 0px 10px 0px 5px;
    align-items: center;
}

.account--item img{
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0;
}