
ul.nav__dropdown{
    height: auto;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    padding: 0;
    display: flex;
    margin: 0;
}

li.nav__dropdown {
    margin: 0 20px;
    padding: 0;
    width: calc(100% + 50px);
}

.container__dropdown {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgba(255,255,255,0.9);
    z-index: 10000;
    padding: 0px 10% 30px 12%;
    left: 0%;
    top: 100%;
}

li.nav__dropdown a{
    border-bottom:  2px solid ;
    padding: 0 30px 0 0;
    width: calc(100% + 50px);
    transition: var(--transition);
}

li.nav__dropdown a:hover{
    color: var(--primary--icon-color);
}

ul.nav__dropdownchild{
    display: block;
    padding: 10px 0 0 0;
    margin: 0;

}

ul.nav__dropdownchild li.nav__dropdownchild a{
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    transition: var(--transition);
}

ul.nav__dropdownchild li.nav__dropdownchild a:hover{
    color: var(--primary--icon-color);
}


a.has-child{
   /* padding: 0 0 40px 20px ; */
   padding-bottom: 40px
}

/* a.has-child::after{
    content: '';
    padding: 0 20px 40px 0px;
}
a.has-child::before{
    content: '';
    padding: 0 0px 40px 0px;
} */











/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}

/* MEDIA QUERIES FOR DESKTOP */

@media screen and (min-width: 992px){
    
}

/* MEDIA QUERIES FOR TABLET */

@media screen and (min-width: 992px) and (max-width: 1200px) {
   
} 

@media screen and (max-width: 991px){

    .container__dropdown{
        padding: 0;
        margin: 0;
    }
    ul.nav__dropdown{
        display: block;
        padding: 0;
        margin: 0;
    }

    ul.nav__dropdown li.nav__dropdown{
        padding: 0;
        margin: 0;
        border: none;
        padding: 10px 10px 0 10px;
        width: 100%;
        border-bottom: 0.5px solid #f1ecec;
    }

    ul.nav__dropdown li.nav__dropdown:first-child{
        border-top: 0.5px solid #f1ecec;
    }

    ul.nav__dropdown li.nav__dropdown a{
        /* width: 100%; */
        padding: 10px 20px;
        border-bottom: none;
        
    }

    ul.nav__dropdownchild li.nav__dropdownchild{
        border-bottom: none;
    }

    ul.nav__dropdownchild li.nav__dropdownchild a{
        border-bottom: none;
    }
}



/* MEDIA QUERIES FOR TABLET AND MOBILE LARGE */
@media screen and (min-width: 600px) and (max-width: 767px) {
 
}

/* MEDIA QUERIES FOR MOBILE */

@media screen and (max-width: 600px){
    
}