footer{
    background: var( --black--background-color);
    padding: 3rem 0;
    font-size: 0.9rem;
    color: var(--color--gray-100);
}

.footer__container{
    display: flex;
    justify-content: space-between; 
}

footer .footer__container--item{
    display: block;
}

footer .footer__container--item h4{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 10px;
}
footer .footer__container--item a{
    display: block;
    color: #fff;
    padding: 3px 0;
    font-size: 13px;
}

footer .footer__container--item ul.footer__container--item{
    display: block;
    justify-content: start;
}

footer li.footer__container--item{
    padding: 5px 0;
    width: 100%;
    text-align: left;
    display: flex;
}

footer li.footer__container--item img {
    height: 20px;
    width: 20px;
}

footer li.footer__container--item p{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
}

footer li.footer__container--item span{
    color: #fff;
    font-size: 13px;
    font-weight: 400;
}


.footer__container--item img{
    width: 100%;
    height: 120px;
}

.footer__container--icon {
    display: flex;
}

.footer__container--icon a.footer__container--icon{
    font-size: 25px;
    margin: 0 10px;
    color: #fff;
    /* background-color: #000; */
    padding: 0;
}












/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    

}

/* MEDIA QUERIES FOR DESKTOP */

@media screen and (min-width: 992px){

}

/* MEDIA QUERIES FOR TABLET */

@media screen and (min-width: 768px) and (max-width: 991px) {
    .footer__container {
        /* flex-flow: column-reverse; */
        display: flex;
        flex-wrap: wrap-reverse;
        flex-wrap: 2;
        /* width: 100%; */
    }

    .footer__container--item{
        padding: 20px 0;
    }
/* 
    .footer__container--item:last-child{
        width: fit-content;
        position: relative;
    } */

    ul.footer__container--item{
        padding: 0;
        margin: 0;
    }

    
} 



/* MEDIA QUERIES FOR TABLET AND MOBILE LARGE */
@media screen and (min-width: 600px) and (max-width: 767px) {
    .footer__container {
        /* flex-flow: column-reverse; */
        display: flex;
        flex-wrap: wrap-reverse;
        flex-wrap: 2;
        /* width: 100%; */
    }

    .footer__container--item:nth-child(3), .footer__container--item:last-child{
        width: 100%;
        padding: 5px 0;
    }

    .footer__container--item{
        padding: 20px 0;
    }

    ul.footer__container--item{
        padding: 0;
        margin: 0;
    }
    
}

/* MEDIA QUERIES FOR MOBILE */

@media screen and (max-width: 600px){
    .footer__container {
        /* flex-flow: column-reverse; */
        display: flex;
        flex-wrap: wrap-reverse;
        flex-wrap: 2;
        /* width: 100%; */
    }

    .footer__container--item:nth-child(3), .footer__container--item:last-child{
        width: 100%;
        padding: 5px 0;
    }

    .footer__container--item{
        padding: 20px 0;
    }

    ul.footer__container--item{
        padding: 0;
        margin: 0;
    }
}