.headermeta__container {
    height: 50px;
    width: 100%;
    display: grid;
    padding: 10px 15%;
}
ul.headermeta__container--item{
    justify-content: space-between;
    display: flex;
}

li.headermeta__container--item{
    display: flex;
}

li.headermeta__container--item img.headerMeta{
    margin-right: 10px;
    height: 18px;
    width: 18px;
    margin-top: 5px;
}

li.headermeta__container--item p{
    font-size: 15px;
    color: var(--primary--text-color);
    font-weight: 500;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1142px){
   .headermeta__container{
    display: none;
   }
}


